:root {
  --bgcolor: #6f2232;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #1a1a1d;
  margin: 0;
  padding: 0;
}

p {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}
.btn {
  border: 2px black solid;
  border-radius: 15%;
  background-color: #1a1a1d;
  color: var(--bgcolor);
  padding: 3px;
}

a:visited {
  color: gray;
}

.index-header {
  display: flex;
  background-color: var(--bgcolor);
  width: 100vw;
  margin-top: 50px;
}
#header-img {
  display: inline-block;
  width: 100px;
  height: auto;
}

#main-header {
  top: 20px;
  padding: 10px 0;
  text-align: center;
}

.navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--bgcolor);
}

#navbar ul {
  display: inline-block;
  list-style: none;
}

#navbar li {
  display: inline;
  padding-right: 20px;
}
.main-section {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  color: var(--bgcolor);
}

#secondary-header {
  font-size: 56px;
}

.description {
  text-align: center;
  width: 80%;
  margin: auto;
  overflow-wrap: normal;
}

.site-links {
  display: grid;
  justify-content: center;
  margin-bottom: 50px;
  grid-template-columns: 100px 100px 100px;
  grid-column-gap: 10px;
}

.toPage {
  background-color: var(--bgcolor);
  margin-top: 10px;
  text-align: center;
  border-radius: 25%;
}

.gallery {
  padding: 5px;
  margin: 10px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  height: 100vh;
}

.img {
  border: 3px var(--bgcolor) solid;
  margin: auto;
}

#gallery-header {
  text-align: center;
  color: var(--bgcolor);
  font-size: 32px;
  font-weight: 600;
  margin-top: 20px;
}

.footer {
  background-color: #4e4e50;
  padding: 50px;
  text-align: center;
}

.media-link {
  margin: 0 10px;
  color: var(--bgcolor);
  font-size: 24px;
}
