:root {
  --bgcolor: #0f519c;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

p {
  font-size: 24px;
}

a {
  color: gray;
  text-decoration: none;
}
a.btn {
  border: 2px black solid;
  border-radius: 15%;
  background-color: darkblue;
  padding: 3px;
}

a:visited {
  color: gray;
}

.index-header {
  display: flex;
  /*border: 3px black solid;*/
  background-color: var(--bgcolor);
  width: 100vw;
  margin-top: 50px;
}
#header-img {
  display: inline-block;
  width: 100px;
  height: auto;
}

#main-header {
  top: 20px;
  /*border: 3px black solid;*/
  padding: 10px 0;
  text-align: center;
}

.navbar {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  /*border: 3px black solid;*/
  background-color: var(--bgcolor);
}

#navbar ul {
  display: inline-block;
  list-style: none;
}

#navbar li {
  display: inline;
  padding-right: 20px;
}
.main-section {
  margin: auto;
  display: flex;
  background-color: darkgray;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100vh;
  color: var(--bgcolor);
}

.secondary-header {
  font-size: 48px;
}

.description {
  text-align: center;
  width: 80%;
  margin: auto;
  overflow-wrap: normal;
  border: 3px black solid;
}

.gallery {
  width: auto;
  padding: 5px;
  border: 3px black solid;
  margin: 10px 20px 10px 20px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.img {
  border: 3px black solid;
}
